
@{
    ViewBag.Title = "Create4";
}


    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal container">
            <h4>Product</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               <label class="control-label col-md-2">Titulo</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Product.Title" />
                </div>
            </div>

            <div class="form-group">
               <label class="control-label col-md-2">Descripcion</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Product.Description" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Dealer</label>
                <div class="col-md-10">
                   
                    @Html.DropDownList("Product.DealerId", new SelectList(ViewBag.dealer, "Id", "Description"), new { @class = "form-control col-md-2" })

</div>
            </div>

            <div class="form-group">
               <label class="control-label col-md-2">Imagen</label>
                <div class="col-md-10">
                    <input type="file" name="file" class="file"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Precio</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Product.Price" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Qty Sold</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Product.QuantitySold" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Starts</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="Product.AvgStars" />
                </div>
            </div>

            

            <div class="form-group">
                <label class="control-label col-md-2">Created On</label>
                <div class="col-md-10">
                    <input class="form-control" type="date" name="Product.CreatedOn" />
                </div>
            </div>

           

            <div class="form-group">
                <label class="control-label col-md-2">ChangedOn</label>
                <div class="col-md-10">
                    <input class="form-control" type="date" name="Product.ChangedOn" />
                </div>
            </div>

            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


   